<launch>
  <include file="$(find diabolo_state_estimation)/launch/execute.launch">
    <arg name="min_x" value="0.4"/>
    <arg name="max_x" value="1.0"/>
    <arg name="min_y" value="-0.2"/>
    <arg name="max_y" value="0.2"/>
    <arg name="min_z" value="0.2"/>
    <arg name="max_z" value="0.7"/>
    <arg name="topic_name" value="/kinect_head/depth_registered/points"/>
    <arg name="world_frame" value="base_footprint"/>
  </include>

  <!-- upload robot model -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch"/>

  <!-- publish topic from rosbag -->
  <node name="rosbag" pkg="rosbag" type="play" args="$(find diabolo_state_estimation)/log/demo_pr2.bag -l"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diabolo_state_estimation)/config/demo_pr2.rviz"/>
</launch>
